<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.mapper.DepartmentInformationMapper">
  <resultMap id="BaseResultMap" type="cn.edu.njtech.domain.dao.DepartmentInformation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dep_id" jdbcType="TINYINT" property="depId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="administrator" jdbcType="VARCHAR" property="administrator" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="affair" jdbcType="VARCHAR" property="affair" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dep_id, name, administrator, telephone, number, affair
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_department_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_department_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njtech.domain.dao.DepartmentInformation">
    insert into t_department_information (id, dep_id, name, 
      administrator, telephone, number, 
      affair)
    values (#{id,jdbcType=INTEGER}, #{depId,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{administrator,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{affair,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njtech.domain.dao.DepartmentInformation">
    insert into t_department_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="administrator != null">
        administrator,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="affair != null">
        affair,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="administrator != null">
        #{administrator,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="affair != null">
        #{affair,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njtech.domain.dao.DepartmentInformation">
    update t_department_information
    <set>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="administrator != null">
        administrator = #{administrator,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="affair != null">
        affair = #{affair,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njtech.domain.dao.DepartmentInformation">
    update t_department_information
    set dep_id = #{depId,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      administrator = #{administrator,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      affair = #{affair,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>