<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.mapper.FormRecordMapper">
  <resultMap id="BaseResultMap" type="cn.edu.njtech.domain.dao.FormRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="writer" jdbcType="VARCHAR" property="writer" />
    <result column="write_time" jdbcType="TIMESTAMP" property="writeTime" />
    <result column="write_content" jdbcType="VARCHAR" property="writeContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, form_id, writer, write_time, write_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_form_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_form_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njtech.domain.dao.FormRecord">
    insert into t_form_record (id, form_id, writer, 
      write_time, write_content)
    values (#{id,jdbcType=INTEGER}, #{formId,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, 
      #{writeTime,jdbcType=TIMESTAMP}, #{writeContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njtech.domain.dao.FormRecord">
    insert into t_form_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="writer != null">
        writer,
      </if>
      <if test="writeTime != null">
        write_time,
      </if>
      <if test="writeContent != null">
        write_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        #{writer,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="writeContent != null">
        #{writeContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njtech.domain.dao.FormRecord">
    update t_form_record
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        writer = #{writer,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        write_time = #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="writeContent != null">
        write_content = #{writeContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njtech.domain.dao.FormRecord">
    update t_form_record
    set form_id = #{formId,jdbcType=VARCHAR},
      writer = #{writer,jdbcType=VARCHAR},
      write_time = #{writeTime,jdbcType=TIMESTAMP},
      write_content = #{writeContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>