<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="cn.edu.njtech.domain.dao.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthdate" jdbcType="DATE" property="birthdate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="academy" jdbcType="VARCHAR" property="academy" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="incumbency" jdbcType="VARCHAR" property="incumbency" />
    <result column="authority" jdbcType="INTEGER" property="authority" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, name, sex, birthdate, status, department, academy, position, incumbency, 
    authority, phone, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njtech.domain.dao.UserInfo">
    insert into t_user_info (id, user_id, name, 
      sex, birthdate, status, 
      department, academy, position, 
      incumbency, authority, phone, 
      address)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{birthdate,jdbcType=DATE}, #{status,jdbcType=INTEGER}, 
      #{department,jdbcType=VARCHAR}, #{academy,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{incumbency,jdbcType=VARCHAR}, #{authority,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njtech.domain.dao.UserInfo">
    insert into t_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="academy != null">
        academy,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="incumbency != null">
        incumbency,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="academy != null">
        #{academy,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="incumbency != null">
        #{incumbency,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njtech.domain.dao.UserInfo">
    update t_user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="academy != null">
        academy = #{academy,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="incumbency != null">
        incumbency = #{incumbency,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njtech.domain.dao.UserInfo">
    update t_user_info
    set user_id = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthdate = #{birthdate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      department = #{department,jdbcType=VARCHAR},
      academy = #{academy,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      incumbency = #{incumbency,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectUsersSelective" parameterType="cn.edu.njtech.domain.dao.UserInfo" resultMap="BaseResultMap">
    select * from t_user_info
    <trim prefix="where" prefixOverrides="and">
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="sex != null">
        and sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="birthdate != null">
        and birthdate = #{birthdate,jdbcType=DATE}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="department != null">
        and department = #{department,jdbcType=VARCHAR}
      </if>
      <if test="academy != null">
        and academy = #{academy,jdbcType=VARCHAR}
      </if>
      <if test="position != null">
        and position = #{position,jdbcType=VARCHAR}
      </if>
      <if test="incumbency != null">
        and incumbency = #{incumbency,jdbcType=VARCHAR}
      </if>
      <if test="authority != null">
        and authority = #{authority,jdbcType=INTEGER}
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <select id="selectUserByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

</mapper>