<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.mapper.UserRoleMapper">
    <select id="selectUserRoleByUserId" resultType="string">
        select r.role_name from t_role r, t_user_role ur where ur.uid = #{userId} and ur.rid = r.id
    </select>

    <update id="updateUserRoleByUserId">
        update t_user_role ur, t_role r set ur.rid = r.id where ur.uid = #{userId} and r.role_name = #{roleName}
    </update>

    <update id="updateUsersRoleByUserId">
        update t_role r, t_user_role ur, t_user_info ui
        set ur.rid = r.id
        where
        ui.status = #{userInfo.status}
        and ui.department = #{userInfo.department}
        and ui.academy = #{userInfo.academy}
        and r.role_name = #{roleName}
        and ur.uid = ui.user_id
        and ur.rid &lt; r.id
        and ur.rid &lt; #{myLimit}
    </update>
</mapper>