<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.edu.njtech.domain.SysUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <select id="findByUsername" resultMap="BaseResultMap">
        select id, username, password, status from t_user where username = #{username}
    </select>

    <update id="updateMessageByUserId">
        update t_user set message = concat(#{formId}, message) where username = #{userId}
    </update>

    <update id="updateMessages">
        update t_user u, t_user_info ui
        set u.message = concat(#{formId}, u.message)
        where
        u.username = ui.user_id
        and ui.status = #{status}
        and ui.department = #{department}
        and ui.academy = #{academy}
    </update>

    <update id="replaceUserMessageById">
        update t_user set message = replace(message, #{formId}, '') where username = #{username}
    </update>

    <select id="selectUserMessage" resultType="string">
        select message from t_user where username = #{username}
    </select>
</mapper>
